<html>
    <head>
        <title>Wrong Password</title>

        <script>
            confirm("Senha Incorreta");
            window.location.replace("/room/<%= roomID %>");
        </script>
    </head>
</html>
