<section id="no-question">
    <div>
        <img src="/assets/noquestions.svg" alt="No questions here" />
        <h2>Nenhuma pergunta por aqui...</h2>
        Faça sua primeira pergunta e envie o <br />código dessa sala para outras pessoas
    </div>
</section>
