.modal-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(4, 9, 17, 0.8);
    visibility: hidden;
    opacity: 0;
}

.modal-wrapper .modal {
    width: min(59rem, 90%);
    background: var(--white);
    margin: auto;
    border-radius: 0.8rem;
    padding: 6.4rem;

    font-family: "Poppins", sans-serif;
    text-align: center;

    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.modal-wrapper .modal h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: var(--black);
}

.modal-wrapper .modal p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--grey-dark);
    margin-bottom: 1.2rem;
}

.modal-wrapper .modal input {
    border: 0.2rem solid var(--blue);
    box-sizing: border-box;
    border-radius: 0.8rem;
    margin-bottom: 4rem;
    outline: none;

    padding: 1.3rem 1.6rem;
    width: min(70%, 30.2rem);
}

.modal-wrapper .modal .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper .modal .buttons > .button {
    margin-right: 0.8rem;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
    padding: 1.3rem 3.2rem;
}
